body{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color:#3d5656;
}

/* STYLE FOR NAV & LOGO  */
.logo{
    width: 72px;
    height: 72px;
}

a.nav-link {
    color: #3d5656;
    padding-left: 4rem;
    font-size: 1.5rem;  
}
.nav-link:hover{
    color: #CFFDE1;
}

.container-fluid.text-center{
    background: #68b984;
    font-size: 2rem;
}
hr{
    margin: 0;
    border-top: solid #3d5656;
}

/* TITTLE & HEADING IMG */

.cat-in-phone{
    width: 90%;
    border-radius: 2rem;
}

h1.intro{
    font-size: 4rem;
}

.btn{
    --bs-btn-font-size: 2rem;
}

section#pricing, #cta,  div.img, div.price{
    background: #68b984;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.col-lg-6, .col-lg-4{
    padding-top: 3rem;
}


/* Styling [Features] */
.icon{
    color: #9D3C72;
}
.icon:hover{
    color: #FEA1BF;
}
#features h3{
    color: #8f8f8f;
    font-size: 1rem;
}
#feature p{
    color: black;
    font-family: 'Montserrat-bold';
}
section#features{
    background: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}