/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
}
section{
    padding: 5% 15%;
}
#title, #footer{
    padding: 3% 15%;
}


/* #TITLE  
-----------*/
#title {
    color: #fff;    
    background-color: #FFB26B;
}
h1 {  
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
}


/* Navigation bar
----------------- */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Ubuntu-light";
}


/* Download button
----------------- */
.download-button {
    margin: 5% 3% 5% 0;
}


/* Title image 
--------------*/
.title-image {
    width: 60%;
    transform: rotate(25deg);
}


/* Features 
---------------*/
.feature-icon {
    color: #9D3C72;
}
.feature-icon:hover {
    color: #FEA1BF;
}
.feature-title {
    padding-top: 1rem;
    font-weight: bold;
}
.feature-desc {
    color: #8f8f8f
}


/* Testimonials DONE
--------------------- */
#testimonials, #partner {
    background-color: #FFBABA;
    color: #fff;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.partner-logo {
    width: 60%;
}


/* Pricing section 
---------------------*/
p.pricing-desc{
    margin: 3rem 3rem;
} 
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* Call to action section
---------------------- */
#cta{
    background-color: #ff4c68;
}
.cta-title{
    color: #fff;
    font-size: 3rem;
}
.cta-btn{
    margin: 3rem 1rem ;
}


/* footer 
----------------------*/
.footer-social{
    display: flex;
    justify-content: center;
}
.social-icon{
    margin: 0 1rem;
    color: #000;
}

