*{
  margin: 0;
  padding: 0;
  font: 16px/1.5 'Lobster', cursive;
}

body {
  background-color: #393E46;
  display: flex;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
button{
  background-color: #faf1d8;
  color: #9c060c;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 60px;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 0px 60px;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

